/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  // border: 1px solid #888;
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal-heading {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: solid 1px #ddd;
}

.modal-li {
  // line-height: 30px;
  position: relative;
  font-size: 15px;
  // list-style: none;
  padding: 0;
  margin: 0;
  border: 0;

  .modal-tomato {
    width: 15px;
    display: inline-block;
  }

  .modal-todo {
    display: inline-block;
    width: 270px;
    border-bottom: solid 1px #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}



