$distance-to-edge: 15px;

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

.show-info {
  position: fixed;
  bottom: $distance-to-edge;
  left: 20px;
  width: 30px;

  &:hover {
    cursor: pointer;
  };

  z-index: 0;
}

.calendar {
  width: 805px;
  position: fixed;
  margin: 0 auto;
  bottom: $distance-to-edge;
  right: 0;
  left: 0;
  padding: 6px;
  // margin-right: 70px;
  border: solid 1px #eee;
  border-radius: 3px;
}

// for calender hover
#tooltip {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
  z-index: 1;
}

#tooltip:after {
  display: block;
  position: absolute;
  content: '';
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
}

.info-div {
  position: fixed;
  left: 60px;
  bottom: $distance-to-edge;
  line-height: 1.6;
  color: #888;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 2px 2px #eee;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-top: 5px;
    }
  }

  a {
    color: #7bc96f;
  }

  ol {
    margin: 0;
    padding: 0;
    // text-align: right;
    list-style-type: none;
  }
}

.textarea {
  resize: none;
  background: transparent;
  font-size: 15px;
  position: fixed;
  top: 50px;
  right: $distance-to-edge;
  width: 280px;
  height: 70%;
  border: 0px solid #eee;
  border-radius: 3px;
  outline: 0;
  // padding: 5px;
  color: #555;
  background-attachment:local;
  // ref; https://css-tricks.com/fun-line-height/
  line-height: 30px; //注意行高要和背景图高度一致resize: none;
  background: repeating-linear-gradient(rgba(221, 221, 221, 0.53), rgba(221, 221, 221, 0.53) 1px, transparent 1px, transparent 30px) repeat;

}

::placeholder {
  color: #ccc;
  text-align: left;
}

.textarea-title {
  position: fixed;
  top: 0px;
  right: $distance-to-edge;
}

.setting-ico {
  display: inline;
  width: 13px;
  height: 13px;
}