$distance-to-edge: 15px;

#todo-div {
  width: 450px;
  // position: fixed;
  margin-left: $distance-to-edge;
  margin-top: $distance-to-edge;
  // margin: $distance-to-edge;
  // transform: scale(1.1, 1.1);
  // transform-origin: left;
  // TODO: find another way if you want it bigger
  #todo-title {
    margin: 0;
    padding-bottom: 6px;
    border-bottom: solid 1px #ddd;
    width: 297px;
  }

  #list {
    padding: 0;
    margin: 0;
    border: 0;
    li {
      // text-align: left;
      position: relative;
      font-size: 15px;
      list-style: none;
      width: 450px;
      margin: 0;
      border: 0;
      &:hover {
        background-color: rgba(238, 238, 238, 0.473);
        cursor: move;
      }
      &.chosen {
        background-color: white;
      }
      &.ghost {
        // background-color: white;
        opacity: 0;
      }
      .checkbox {
        font-size: 13px;
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        vertical-align: top;
        margin-top: 12px;
        &:hover {
          cursor: pointer;
        }
        &:checked {
          background-color: gray;
      }
      }
      .content-div {
        display: inline-block;
        vertical-align: top;
        width: 270px;
        height: auto;
        // word-wrap: break-word;
        // word-break: break-all;
        // overflow: hidden;
        text-align: left;
        // padding-left: 1px;
        outline: 0;
        border-bottom: solid 1px #ddd;
        // border-top: solid 1px #ddd;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover {
          cursor: text;
        }
        &.done {
          // text-decoration: line-through;
          color: #999;
        }
      }

      .todo-tomato-div {
        display: inline-block;
        width: 140px;
        .todo-tomato {
          display: inline-block;
          padding-top: 12px;
          width: 15px;
        }
      }
      .add-tomato-btn {
        // padding-top: 6px;
        // outline: 0;
        display: none;
        width: 20px;
        position: absolute;
        right: 150px;
        top: 8px;
        opacity: 0.8;
        &:hover {
          cursor: pointer;
        }
      }

      .rm-todo-btn {
        // padding-top: 6px;
        // outline: 0;
        display: none;
        width: 20px;
        position: absolute;
        right: 172px;
        top: 8px;
        opacity: 0.8;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  #input-div {
    width: 270px;
    margin-top: 10px;
    margin-left: 28px;
    border-bottom: solid 1px #ddd;
    position: relative;
    #input {
      display: inline-block;
      font-size: 15px;
      border: 0;
      width: 270px;
      padding-bottom: 10px;
      padding-top: 0;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
    #add-todo {
      // padding-top: 6px;
      // outline: 0;
      display: none;
      width: 15px;
      position: absolute;
      right: 2px;
      top: 2px;
      opacity: 0.8;
    }
  }
}
